<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up page</h1>

    <form action="/api/adduser" method="post">
        Username: <input type="text" name="username">
        Password: <input type="password" name="password">
        Email: <input type="email" name="email"><br>
        <button>Submit</button>
    </form>
</body>
</html>